.context-bar__view {
    width: 400px;

    .context-bar__pic-wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        //justify-content: center;
        
    }
    
    .context-bar__pic {
        margin-right: 12px;
    }
}
