.emissions-grid {

    &__collapse-icon {
        vertical-align: middle;
    }

    &__hide-section {

        button{
            font-weight: 500;
            font-size: 10px;
            line-height: 15px;
            color: var(--blue-color);
        }

        margin-bottom: 20px;
        //display: flex;
    }

    &__separate-line {
        border-bottom: 1px dashed var(--grey2-color);
        width:100%;
    }
}