@import './mixins.scss';


.label {
    color: #232640;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 8px;
}

.drop-icon {
    color: #232640;
}

.select {
    width: 732px;
    height: 56px;

    @include respond(mediumScreen) {
        width: 523px;
    }

    @include respond(mobile) {
        width: 328px;
        height: 48px;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px;
    border: 1px solid #D7D8FA;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 31, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);

    &:disabled {
        color: #535572;
        opacity: .5;
        cursor: not-allowed;
    }

    .placeholder {
        padding-left: 8px;
        font-size: 16px;
        min-width: 228px;
        overflow: hidden;
        white-space: nowrap;
        color: var(--neutral-grey);
    }

    .selected {
        padding-left: 8px;
        font-size: 16px;
        min-width: 228px;
        overflow: hidden;
        white-space: nowrap;
        color: #232640;
    }

}

.itemContainer {
    width: 100%;
    font-family: 'Open Sans';
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    padding: 12px 25px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &:hover {
        background-color: #2351DC;
        color: #FFFFFF;
    }
}

.selectItemsUnexpanded {
    margin-top: 12px;
    width: 762px;
    max-height: 420px;

    @include respond(mediumScreen) {
        width: 552px;
    }

    @include respond(mobile) {
        width: 328px;
        max-height: 256px;
        
    }

    position: absolute;
    border-radius: 8px;
    border: 1px solid #D7D8FA;
    box-shadow: 0px 1px 3px rgba(0, 0, 31, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
    overflow: scroll;
    z-index: 2;
}

.selectItemsExpanded {
    display: flex;
    flex-direction: column;

}

