.review__add-new-btn {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    border: 1.2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 24px;
    height: 20px;
    background: url("../../../img/widgets/plus.png") no-repeat ;
    background-position: 5px 3px;
    width: 75px;
    padding-left: 15px;

    &:hover {
        opacity: 0.5;
    }
}