@import './mixins.scss';

.review__wrapper {
    .review__filter-button-wrapper{
        display: none;
    }
    .review__heading {
        display: none;
    }
    .explore__dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        top: 80px;
        left: 0px;
        margin: auto;
        background-color: white;
        box-shadow: 
        0px 4.19279px 20.77116px rgba(0,0,0, 0.25),
        0px 4.38558px 10.19279px rgba(0,0,0, 0.08);
        border-radius: 4px;
    }
    .explore__filter-2{
        display: flex;
        padding-left: 10px;
        align-items: center;
        height: 40px;
        width: 280px;
        background-color: #e6e7e8;
        margin-top: 24px;
        border-radius: 184px;
    }
   
    .explore__filter-input{
        background-color: transparent;
        position: relative;
        left: 5px;
    }
    .explore__select li{
        padding: 10px;
        padding-left: 24px;
    }
    .explore__select li:hover{
        background-color: #007568;
        color: white;
    }
    .explore__select {
        display:flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        padding-top: 24px;
        padding-bottom: 24px;
        height: 300px;
        overflow: scroll;
    }
    .explore__btn-options{
        width: 100%;
        height: 50px;
        font-size: 16px;
        text-align: left;
        padding-left: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .explore__btn-options:active {
        background-color: #007568;
        color: #fff;
    }
    @include respond(mobile){
        .review__heading {
            display: inherit;
        }
        .review__info{
            display: none;
        }
        .review__filters-wrapper{
            display: none !important;
        }
        .review__filter-button-wrapper{
            display: flex;
            justify-content: center;
        }
        .review__filter-button{
            display: flex;
            justify-content:space-evenly;
            align-items:center;
            background-color: #007568;
            font-size: 17px;
            height: 42px;
            width: 200px;
            font-weight: bold;
            border-radius: 20px;
            color: white;
        }
        .review__icon{
            font-size: 20px;
        }
    }

    .review__info {
        width: 560px;
        height: 200px;
        color: var(--black-color);
        margin-bottom: 40px;
    }
    .review-info__title {
        font-weight: 400;
        font-size: 54px;
        line-height: 62px;
        margin-bottom: -60px;
    }
    .review-info__title span{
        font-weight: 600;
    }

    .review-info__content {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }

    .review-info__content span{
        font-weight: 600;
    }

    background-color: white;
    min-height: calc(100vh - 80px - 80px);
    .review__top-wrapper {
        background-color: var(--white-color);
        padding-top: 20px;
        padding-bottom: 42px;
    }
    

    .review__filters-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .review__filters{
        margin-right: 30px;
    }
    .input-wrapper{
        background-color: #f1f2f6;
        border: none !important;
    }
    
    .review__selected-entity {
        display: flex;
        justify-content: space-between;
        margin-top:42px;

        .review__entity-title {
            vertical-align: middle;
            height: 100%;
            display: inline-block;
            margin-left: 16px;
        }

        .review__explore-link {
            font-weight: 500;
            font-size: 11px;
            line-height: 24px;
            color: var(--blue-color);

            :-webkit-any-link {
                color: var(--blue-color);
            }
        }
    }

    .review__switcher {
        width: 362px;
    }
    .review__flag{
        border-radius: 50%;
    }

}
