.toolbar-menu {

    &__list {
        display: flex;
        
        list-style: none;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
    }

    &__item {
        padding-top: 21px;
        margin-right: 24px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__link {
        color: white;
        opacity: 0.50;
        cursor: pointer;
        margin-right: 24px;
        &:hover {
            opacity: initial;
        }

        &_active {
            opacity: initial;
        }
    }

}