[submodule "OpenClimate-hub-controller"]
	path = OpenClimate-hub-controller
	url = git@github.com:Open-Earth-Foundation/OpenClimate-hub-controller.git
[submodule "OpenClimate-hub-ui"]
	path = OpenClimate-hub-ui
	url = git@github.com:Open-Earth-Foundation/OpenClimate-hub-ui.git
[submodule "aries-acapy-plugin-toolbox"]
	path = aries-acapy-plugin-toolbox
	url = git@github.com:Indicio-tech/aries-acapy-plugin-toolbox.git
