[submodule "aries-acapy-plugin-toolbox"]
	path = aries-acapy-plugin-toolbox
	url = git@github.com:Open-Earth-Foundation/aries-acapy-plugin-toolbox.git
	branch = .
[submodule "traction"]
	path = traction
	url = git@github.com:Open-Earth-Foundation/traction.git
	branch = .
