@import '../mixins.scss';

.review__dashboard {
    .review__dashboard-widgets {
        display: flex;
        max-width: 1800px;
        flex-wrap: wrap;
    }
}

.review__dashboard-layout {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 39px;
    height: auto;
    width: 100%;
    margin-bottom: 39px;

}

.tr-wrapper{
    width: 100%;
}

@include respond(mobile){
    .review__dashboard-layout {
        display: flex;
        flex-direction: column;
    }
}
