.login-credential-form {

    &__qrcode,
    &__tutorial-link {
        margin-bottom: 16px;
    }
    
    &__qr-content {
        max-width: 462px;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
    } 
}
