.login-credential-form {

    &__qrcode {
        border-radius: 4px;
        border: 1px solid rgba(162, 151, 151, 0.35);
        height: 300px;
        width: 300px;
        padding: 25px;
        margin-bottom: 16px;
    }

    &__qr-svg {
        padding-left: 30px;
    }

    &__tutorial-link {
        margin-top: 5px;
        margin-bottom: 24px;
    }
    
    &__qr-content {
        max-width: 462px;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
    }

    &__copy-link {
        display: flex;
    }

    &__subheader {
        text-align: center;
        font-size: 16px;
        line-height: 22px;
    }

    &__info-icon {
        height: 12px;
        margin-right: 4px;
    }

    &__eye-info {
        font-size: 12px;
        color: var(--blue-color)
    }

    &__eye-icon {
        font-size: 11px;
        margin-right: 4px;
    }


    &__second-subheader {
        margin-top: 16px;
        margin-bottom: 32px;
    }
}
