<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <!-- import google material icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <title>webflow Search Component</title>
    </head>

    <body>
        <div id="input-wrapper" class="div-block-2">
            <div id="searchResults" class="div-block" style="display: none;">
            </div>
            <div class="form-block">
                <form id="wf-form-Search" name="wf-form-Search" data-name="Search" method="get" class="form"
                    data-wf-page-id="646268dba624a4052a9681a9" data-wf-element-id="1ec08dc8-d519-b250-ccb5-a5ca386e8819"
                    aria-label="Search">
                    <div class="div-block-3">
                        <img
                            src="https://uploads-ssl.webflow.com/646268dba624a4052a9681ac/646268dba624a4052a9681b3_icon.png"
                            loading="lazy" height="24" width="24" alt="search icon" class="image" />
                        <input type="text" class="text-field w-input" autofocus="true" maxlength="256" name="name" data-name="Name"  placeholder="Search..." id="name" data-id="my-id" />
                    </div>
                    <a href="#" class="button-2 w-button">EXPLORE</a>
                </form>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <script src="./main.js"></script> 
    </body>

</html>