.sites-filters {
    border: 1px solid var(--grey1-color);
    width: 320px;
    padding: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    background-color: var(--white-color);

    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        margin: 0;
    }

    &__header {
        border-bottom: 1px solid var(--grey1-color);
        padding-bottom: 14px;
        margin-bottom: 16px;
    }

    &__updated {
        font-weight: 600;
        font-size: 9px;
        line-height: 13px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color:var(--grey3-color);
    }

    &__types {
        display: flex;
    }

    &__countries {
        display: flex;
        flex-wrap: wrap;
    }
    &__filters {
        margin-top: 18px;
    }
}