.context-bar__data {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--black-color);

    &_link {
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        cursor: pointer;
        margin-left: auto;
        margin-right: 20px;

        a {
            color: var(--blue-color);
        }
    }

    &_type {
        color: var(--grey3-color);
        font-weight: 600;
        font-size: 9px;
        line-height: 13px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }

    &.small {
        .context-bar__item-title {
            display: inline-block;
            font-size: 20px;
            line-height: 30px;
            margin-right: 10px;
        }

        .context-bar__item-content {
            display: inline-block;
            font-size: 10px;
            line-height: 15px;
        }
    }

    &.large {
        .context-bar__item-title {
            font-size: 30px;
            line-height: 45px;
            font-weight: 400;
        }
        
        .context-bar__item-content {
            font-size: 10px;
            line-height: 15px;
        }
    }
}

