.emission-filters {

    width: 424px;
    height: 600px;

    &__title {
        color: var(--black-color);
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
    }

    &__header {
        margin-bottom: 26px;
    }

    &__header-wrapper {
        height: 250px;
        padding: 24px;
        border-bottom: 1px dashed var(--grey2-color);
    }

    &__filters {
        display: flex;
        margin-bottom: 27px;
    }
    
    &__header-table {
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 16px;
    
        &_name {
            width: 100px;
            color: var(--grey5-color);
        }
        &_value {
            color: var(--black-color);
        }
    }
    
    &__details {
        color: var(--blue-color);
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        cursor: pointer;
    }
    
    &__emissions-list {
        height: 270px;
        overflow: auto;
    }

    .scope-item-amount {
        color: var(--red-color);
    }
}
