.review-tile__transfer-item {

    &-title {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        height: 16px;
    }

    &-description {
        font-weight: 500;
        font-size: 10px;
        line-height: 21px;
        color: var(--grey5-color);
        height: 16px;
    }

}