.account-pledges {
    
    &__table {
        width: 50%;
        
        .account-pledges__type {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
        }

        .account-pledges__submitted {
            color: var(--grey4-color);
            font-weight: 600;
            font-size: 9px;
            line-height: 13px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            
        }
    }
}

