.scope-tile {
    height: 250px;
    border-left: 1px solid rgba(0, 117, 104, 0.1);
    padding: 32px;

    
    &__title {
        display: flex;
        margin-bottom: 24px;

        .scope-tile__amount {
            font-weight: 500;
            font-size: 32px;
            line-height: 28px;
            margin-right: 12px;
        }

    }

    &__add-offset_centered {
        text-align: center;
    }

    &__add-offset_right {
        margin-left: auto;
    }

    &_centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__see-more-link {
        font-size: 12px;
        line-height: 28px;
        color: var(--blue-color);

    }
}