.review-tile__transfer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--grey1-color);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 17px;
    margin-bottom: 8px;

    &-column_data {
        width: 135px;
    }
}