.add-ghg-cred {

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: 26px;
    }
    &__content_row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    &__btn_row {
        font-size: 12px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 25px;
    }
    &__margin {
        font-size: 12px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 25px;
    }
    &__connect_new_wallet_btn{
        display: flex;
        align-items: center;
        font-size: 13px !important;
    }
}

