.widget__climate-accountability-content {

    padding-top: 24px;

    .widget__content-title  {
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
    }
    .widget__content-subtitle {
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 24px;
    }

}

