.widget__emission-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: inherit;
    padding-top: 16px;
    padding-left: 20px;

    .widget__emission-numbers {
        display: flex;
        // justify-content: center;
        align-items: center;
        // flex-direction: column;
    }

    .widget__emission-data {
        font-size: 36px;
        line-height: 43.2px;
        font-weight: 900;
        display: flex;
        padding-right: 8px;
        overflow: none;
    }
    

    .widget__emission-data-small {
        font-size: 22px;
        line-height: 43.2px;
        font-weight: 900;
        padding-right: 4px;
        display: flex;
        overflow: none;
    }

    .widget__emission-data-description {
        width: inherit;
        font-family: Lato;
        font-weight: 400;
        font-size: 14px;
        // line-height: 15px;
        text-align: center;
        color: var(--black-color);
        // padding-bottom: 26px;
    }

    .widget__content-column {
        width: 102px;

        &_center {
            text-align: center;
            align-self: center;  
        }
    }


    .widget__emission-arrow {
        position: relative;
        top:-2px;
        left: -3px;
    }

    //account-sites
    &.sites-climate-action {
        .widget__emission-data {
            font-size: 20px;
            line-height: 30px;
        }

        .widget__emission-data-description {
            font-size: 8px;
            line-height: 12px;
        }

        .widget__content-column {
            width: 90px;
        }
        .widget__emission-arrow {
            position: relative;
            top: 0;
            left: -3px;
        }

    }
}
.widget__updated{
    text-transform: capitalize;
}

.widget__meta-text{
    display: flex;
    flex-direction:column ;
    font-size: 12px;
}

.widget__meta-source-name{
    font-weight: bold;
    display: flex;
    align-items: center;
}
.widget__meta-source-m{
    
    background-color: #a4e7d9;
    align-items: left;
    color: #16a085;
    width: auto;
    text-align: center;
    border-radius: 30px;
    padding: 1px;
}
.widget__meta-data{
    width: 100% ;
    display: flex;
    justify-content: space-between;
}