.widget__emission-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;

    .widget__emission-numbers {
        display: flex;
        justify-content: space-between;
    }

    .widget__emission-data {
        font-size: 20px;
        line-height: 36px;
        display: flex;
        overflow: none;
        justify-content: center;
    }

    .widget__emission-data-description {
        width: inherit;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        color: var(--black-color);
    }

    .widget__content-column {
        width: 102px;

        &_center {
            text-align: center;
            align-self: center;  
        }
    }

    .widget__emission-arrow {
        position: relative;
        top:-2px;
        left: -3px;
    }

    //account-sites
    &.sites-climate-action {
        .widget__emission-data {
            font-size: 20px;
            line-height: 30px;
        }

        .widget__emission-data-description {
            font-size: 8px;
            line-height: 12px;
        }

        .widget__content-column {
            width: 90px;
        }
        .widget__emission-arrow {
            position: relative;
            top: 0;
            left: -3px;
        }

    }
}