.dropdown-open {
    width: 100%;
    position: absolute;
    box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.12);
    z-index: 1;

    &__search {
        padding: 24px;
        background-color: var(--white-color);
    }

    &__list {
        max-height: 250px;
        overflow-y: auto;
    }

}
