.emission-row {
    position: relative;
    margin-bottom: 15px;
    min-width: 600px;

    &__content {
        margin-left: 14px;
    }
    &__data {
        //height: 54px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--grey1-color);
        padding: 12px 16px;

    }

    &__title {
        font-size: 10px;
        line-height: 15px;
    }

    &__description {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }

    &__emission-amount {
        color: var(--red-color);
    }

    &__timeline {
        //padding-top: 2px;
        position:absolute;
    }
    
    &__timeline-date {
        font-weight: 600;
        font-size: 9px;
        line-height: 13px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #BDBDBD;
        margin-bottom: 4px;
    }

    .scope-item-signedby-header, .scope-item-signedby {
        margin-right: 8px;
    }
}