.search-bar {
    width: 632px;
    height: 48px;
    margin-top: 2px; 

    &__disabled {
        color: var(--white-color);
        opacity: .5;
        cursor: not-allowed;
    }

    .label {
        font-weight: 500;
        font-size: 14px;
        color: var(--white-color);
        padding-left: 12px;
    }
    
    .content {
        padding: 10px;
    }

    .outer-card {
        width: 632px;
        max-height: 420px;
        background-color: var(--interactive-tertiary);
        border-radius: 30px;
        position: absolute;
        z-index: var(--search-dropdown-z-index);
    }

    .inner-card {
        width: 632px;
        background-color: var(--interactive-tertiary);
        height: 48px;
        border-radius: 30px;
        box-shadow: none;
    }


    .dropdown {
        display: flex;
        flex-direction: row;
        color: var(--white-color);
        align-items: center;
        cursor: pointer;
        position: relative;
    }

    .dropdown-text {
        padding-left: 8px;
        font-size: 16px;
        background-color: var(--interactive-tertiary);
        color: #FFFFFF;
        min-width:  632px;
        overflow: hidden;
        white-space: nowrap;
    }

    .dropdown-text-placeholder {
        padding-left: 8px;
        font-size: 16px;
        background-color: var(--interactive-tertiary);
        color: #FFFFFF;
        min-width:  632px;
        overflow: hidden;
        white-space: nowrap;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px; 
    }

    .dropdown-select-missing-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .dropdown-text-selected {
        padding-left: 8px;
        font-weight: 600;
        font-size: 20px;
        max-width: 228px;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 4px;
        color: #00001F;
        cursor: default;
     
    }

    .dropdown-cross-icon-container {
        display: flex;
        align-items: center;
        font-size: 20px;
        justify-content: center;
    }

    .dropdown-cross-icon {
        color: var(--red-cancel);
        cursor: pointer;
    }

    .dropdown-container {
        max-height: 364px;
        z-index: var(--search-dropdown-z-index);
        background-color: #FFFFFF;
        overflow-y: scroll;
        overflow-x: hidden;
       
    }

    .dropdown-select {
        width:  632px;
        font-family: 'Open Sans';
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        padding: 12px 25px 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &:hover {
            background-color: var(--secondary-blue-color);
            color: var(--white-color);
        }
    }

    .dropdown-select-icon {
        min-width: 24px;
        min-height: 22px;
    }

    .dropdown-select-missing-text {
        white-space: nowrap;
        color: var(--white-color);
        letter-spacing: 1.5px;
        font-size: 10px;
        font-weight: 700;
        padding: 0 4px;
    }

    .dropdown-select-subtitle {
        padding-top: 5px;
        font-size: 10px;
        letter-spacing: 1.5px;
    }

    .drop-icon {
        color: var(--icon-black);
    }

    .search-icon {
        color: var(--white-color);
    }

    .icon-disabled {
        color: var(--icon-disabled);
    }

    .arrow-forward {
        color: var(--next-blue);
        padding: 0px 21px 0 21px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}