.input-text {

    &__element {
        width: 100%;
        height: 48px;
        background: var(--grey1_35-color);
        padding: 10px 0 10px 16px;
        border: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        //opacity: 0.35;
        border-radius: 4px;

        &::placeholder {
            color: var(--grey3-color);
          }
    }
}
