.review-info {
    max-width: 1067px;
    color: var(--black-color);
    margin-bottom: 40px;

    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 16px;
    }

    &__content {
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
    }
}