.accept-ghg-proof {

    &__content {
        display: flex;
        flex-direction: column;
        line-height: 26px;
    }
    &__content_row {
        display: flex;
        flex-direction: column;
    }
    &__btn_row {
        font-size: 12px;
        max-width: 400px;
        display: flex;
        flex-direction: row;
        margin: 25px;
        justify-content: flex-end
    }
}

