.account-transfers {
    &__link {
        color: var(--blue-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }

    &__status {

        font-weight: 600;
        font-size: 9px;
        line-height: 13px;
        letter-spacing: 0.02em;
        text-transform: uppercase;

        &_pending {
            color: var(--grey4-color);
        }
        &_success {
            color: var(--green-color);
        }
        &_error
        {
            color: var(--red-color);
        }
    }
}