@import './mixins.scss';

.contextual-widget {
    height: 250px;
    width: 578px;
    border: 1px solid #E6E7E8;
    display: relative;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    background: #ffffff;

    &__wrapper {
        padding: 24px 24px 0 24px;
        height: 100%;
    }

    &__header {
        border-bottom: 1px solid var(--grey1-color);
        padding-bottom: 14px;
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        margin: 0;
    }

    &__updated {
        font-family: 'Lato';
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color:var(--grey5-color);
    }

    &__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-top: 14px;
            
    }

    &__border {
        border-left: 1px solid #D7D8FA;
        height: 96px;
        margin-top: 20px;
        margin-left: 73px;
        margin-right: 16px;
    }


    &__left-container {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    &__left-info-box {
        display:flex;
        padding-left: 9px;
        flex-direction: column;
        width: 85px;
    }

    &__left-header-text {
        display: flex;
        flex-direction: row;
        font-size: 36px;
        line-height: 54px;
        font-weight: 600;
    }

    &__left-subtitle-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }

    &__mid-header-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 24px;
        line-height: 36px;
        font-weight: 600;
    }

    &__right-header-text {
        display: flex;
        flex-direction: row;
        font-size: 24px;
        line-height: 36px;
        font-weight: 600;
    }

    &__normal-right-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
    }

    &__grey-text {
        color: var(--grey4-color);
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        padding-top: 13px;
    }

    &__tooltip {
        font-size: 9px;
        display: flex;
        flex-direction: row;
    }

    &__mid-section {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
    }

    &__right-section {
        padding-top: 10px;
        margin-left: 35px;
        display: flex;
        flex-direction: row;
    }

    &__right-area-section {
        padding-top: 10px;
        display: flex;
        padding-left: 9px;
        flex-direction: row;
    }

    &__mid-section-container {
        display: flex;
        flex-direction: column;
    }

    &__mid-text-box {
        display:flex;
        padding-left: 6px;
        flex-direction: column;
        width: 85px;
    }

    &__icon-padding {
        padding-top: 8px;
    }
    @include respond(tablet){
       margin-top: 135px;
    }

}