.account__climate-actions-summary {


    .account__climate-actions-switcher {
        margin-bottom: 37px;
    }

    .account__scope-headers {
        display: flex;

        .scope-header {
            margin-right: 146px;
        }
    }

    .account__scope-row_red {
        background: rgba(255, 128, 128, 0.06);
        border-radius: 8px;

        .scope-tile-centered__amount, 
        .scope-tile__amount {
            color: var(--red-color);
        }
    }

    .account__scope-row_primary {
        background: rgba(0, 117, 104, 0.05);
        border-radius: 8px;

        .scope-tile-centered__amount, 
        .scope-tile__amount {
            color: var(--primary-color);
        }
    }

    .account__scope-row_black {
        border: 1px solid #E6E7E8;
        background: var(--white-color);
        border-radius: 8px;

        .scope-tile-centered__amount, 
        .scope-tile__amount {
            color: var(--black-color);
        }
    }

    .account__climate-actions-table {
        border-spacing: 0 8px;
        width: 100%;
    }

}