.root{
    display: flex;
    height: 100%;
    width: 200px;
    align-items: center;
    gap: 56px;
}

.ocLogoText{
    width: 144px;
    height: 32px;
}

.ocLogoIcon{
    width: 36px;
    height: 36px;
}