.emissions-card {
    border: 1px solid var(--grey1-color);
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 16px;

    &__content {
        margin-bottom: 35px;
    }

    &__icon{
        margin-right: 16px;
    }

    &__header {
        color: var(--black-color);
        display: flex;
        justify-items: center;
        margin-bottom: 8px;

        h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
        }

        &-date {
            color: var(--grey3-color);
            font-weight: 600;
            font-size: 9px;
            line-height: 13px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }
    }

    &__data {
        color: var(--black-color);
        display: flex;
        justify-content: space-between;
    }

    &__description {
        width: 320px;
        font-size: 12px;
        line-height: 23px;
    }

    &__total-amount {
        width: 200px;
        padding-left: 24px;
        border-right:1px solid rgba(0, 117, 104, 0.1);
        border-left: 1px solid rgba(0, 117, 104, 0.1);

        &-description {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &__amount {
        color: var(--red-color);
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
    }

    &__ranking-row {
        font-size: 12px;
        line-height: 18px;
    }

    &__ranking-number {
        display: inline-block;
        width: 50px;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        margin-right: 10px;
    }

}