.widget__agreement-content {

    padding-top: 16px;

    .widget__content-header {
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        color: var(--black-color);
        margin-bottom: 8px;
    }

    .widget__status {
        font-weight: 600;
        font-size: 9px;
        line-height: 13px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin-bottom: 9.5px;

        &_grey {
            color: var(--grey4-color);
        }

        &_green {
            color: var(--green-color);
        }
    }

    .arrow-right {
        margin-left: 5px;
        position: relative;
        top: 1px;
    }
}