/*.review-tile {
    border: 1px solid var(--grey1-color);
    width: 490px;
    padding: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    background-color: var(--white-color);

    &_lg {
        .review-tile__content {
            height: 345px;
        }
    }

    &_sm {
        height: 220px;
    }

    &__header {
        border-bottom: 1px solid var(--grey1-color);
        padding-bottom: 24px;
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        margin: 0;
    }

    &__updated {
        font-weight: 600;
        font-size: 9px;
        line-height: 13px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color:var(--grey3-color);
    }

    &__link {
        font-weight: 500;
        font-size: 10px;
        line-height: 21px;
        color: var(--blue-color);
    }

    
    &__info {
        margin-left: 9.33px;
        position: relative;
        top: 2px;
    }

    &__footer {
        padding-top: 15px;
        border-top: 1px dashed var(--grey2-color);

    }

}
*/
.review__dashboard {
    display: flex;
    flex-wrap: wrap;
}