.dropdown-item {
    height: 52px;
    padding: 12px 24px;
    cursor: pointer;
    background: var(--white-color);
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    color: var(--black-color);

    &:hover {
        background-color: var(--primary-color);
        color: var(--white-color);
    }
}