.dropdown {
    position: relative;

    &__close-icon {
        margin-left: 12px;
        vertical-align: middle;
    }

    .selected-area__option {
        background: transparent;
        font-weight: 500;

        &::placeholder {
            color: var(--grey3-color);
        }
    }
}