
.information {
    color: var(--black-color);
    
    &__sub-title {
        padding: 8px 0 0 24px; 
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
    }

    &__content {
        padding: 16px;
        border: 1px solid var(--grey1-color);
    }

    &__content-columns {
        display: flex;
        justify-content: space-between;

        
        .information-column {
            padding: 24px;
            
            &__title {
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 8px;
            }
    
            &__content {
                font-size: 14px;
                line-height: 26px;
                margin-bottom: 16px;
            }

            &__credential-id {
                font-weight: 500;
                font-size: 14px;
                line-height: 26px;
                background: rgba(230, 231, 232, 0.4);
                border-radius: 6px;
                padding: 8px 16px;
                margin-top: 8px;
            }
        }

        .information-column__link {
            font-weight: 500;
            font-size: 10px;
            line-height: 15px;
        }
    }


    &__title {
        font-weight: 500;
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 40px;
    }

    .information-column {
        width: 425px;
    }

    .information-column__footer {
        display: flex;
        justify-content: space-between;
    }
    
}